

html{
    font-size: 62.5%;   /* 1rem en 10 px */
    scroll-behavior: smooth;
}

body{
    /* font-family: 'Raleway', sans-serif; */
    font-size: 1.6rem;
    line-height: 2;
}

.bi{
    font-size: 3.5rem;
}

img{
    object-fit: cover;
}

/* h1, h2, h3{
    font-family: 'Playfair Display', serif;
}

h1{
    font-size: 10rem;
} */

/* @media(min-width: 768px){
    h1{
        font-size: 5rem;
    }
} */

h2{
    font-size: 3.2rem;
}

@media(min-width: 768px){
    h2{
        font-size: 4rem;
    }
}

h3{
    font-size: 2rem;
}

/* @media(min-width: 768px){
    h3{
        font-size: 3rem;
    }
} */

.hero{
    background-image: url(../multimedia/bg.jpg);
    /* height: 25rem; */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.fondo-morado{
    background-color: #D3C4DD;
}

.nav-statico{
    position: sticky;
    left: 0;
    top: 0;
    right: 0;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px */
}

.nav-imagen{
    width: 30%;
    padding: 0;
}

@media(max-width: 991.5px){
    .nav-imagen{
        display: none;
    }
}

.nav-links{
    width: 70%;
    position: relative;
}

@media(max-width: 991.5px){
    .nav-links{
        width: 100%;
    }
}

.activo{
    /* background-color: white;
    color: red !important;
    border-radius: 3px;
    opacity: .5; */
    background-color: #f0f0f0;
    opacity: .5;
    color: black !important;
    border-radius: 3px;
}

.nav-links a{
    transition: .3s ease-in-out all;
    width: 20%;
    color: #f0f0f0;
    transition: .3s ease-in-out all;
}

.nav-links a:hover{
    /* text-shadow: 0 0 2rem white;
    text-decoration: underline; */
    background-color: white;
    color: black;
    border-radius: 3px;
    opacity: .5;
}


.img-nav-main{
    height: 8rem;
    position: relative;
}



.indicador{
    display: block;
    width: 200px;
    height: 7px;
    background-color: white;
    position: absolute;
    bottom: -8px;
    transition: .3s ease-out all;
    border-radius: 2px;
    
}
/* Video */
.contenedor-principal-video{
    position: relative;
    height: calc(100vh - 8rem);
    margin-top: 0;
}

.cabecera{
    height: calc(100vh - 8rem);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.contenido{
    max-width: 100%;
    padding-left: 10rem;
    padding-right: 10rem;
    margin: auto;
    text-align: center;
}


.cabecera-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 8rem);
    overflow: hidden;
}

.cabecera-video video{
    min-width: 100%;
    /* min-height: 50%; */
}

.cabecera-overlay{
    height: calc(100vh - 8rem);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #303952;
    z-index: 1;
    opacity: .50;
}

.cabecera-content{
    width: 100%;
    z-index: 2;
}

.cabecera-content h1 {
    font-size: 6.5rem;
}

@media (max-width: 576px){
    .contenido{
        padding-left: 0;
        padding-right: 0;
    }
    
    .cabecera-content h1 {
        font-size: 3rem;
    }
}

@media (min-width: 576px){
    .contenido{
        max-width: 100%;
        padding-left: 5rem;
        padding-right: 5rem;
        margin: auto;
        text-align: center;
    }
    
    .cabecera-content h1 {
        font-size: 4.5rem;
    }
}

@media (min-width: 992px){
    .contenido{
        max-width: 100%;
        padding-left: 10rem;
        padding-right: 10rem;
        margin: auto;
        text-align: center;
    }
    
    .cabecera-content h1 {
        font-size: 6.5rem;
    }
}

/*FIN VIDEO*/

.nosotros{
    /* height: 10rem !important: */
    border-radius: 1rem !important;
}
.ivonne{
    height: 40rem;
    width: 40rem;
    border-radius: 50%;
}


.item img{
    height: 28rem;

    object-fit: cover;
}

/* styles owl carousel*/
#sec-servicios .card{
    line-height: 1.5;
    height: 44rem;
}


.owl-theme .owl-dots .owl-dot span {
    border-radius: 25px;
    height: 7px;
    width: 25px;
    background-color: purple;
    opacity: 0.5;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: purple;
    opacity: 1;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
    background: transparent;
    color: purple;
    opacity: 0.5;
    border: none;
    font-size: 10rem;
    position: absolute;
    z-index: 10;
    
}

.owl-carousel .owl-nav button.owl-next{
    top: 50%;
    transform: translateY(-70%);
    right: 0rem;
}

/* #servicios-integrales .owl-carousel .owl-nav button.owl-next{
    top: 20rem;
    right: 0rem;
} */

.owl-carousel .owl-nav button.owl-prev {
    top: 50%;
    transform: translateY(-70%);
    left: 0rem;
}

/* #servicios-integrales .owl-carousel .owl-nav button.owl-prev {
    top: 20rem;
    left: 0rem;
} */

.owl-carousel .owl-nav button.owl-next:hover, .owl-carousel .owl-nav button.owl-prev:hover {
    background: transparent;
    color: purple;
    opacity: 1;
}

/*Owl carousel fin*/


.btn-ghost{
    position: relativate;
    /* display: inline-block; */
    border: 2px solid purple;
    padding: 20px 80px;
    color: white;
    text-decoration: none;
    background: purple;
    transition: color 0.5s, background 0.5s;
    margin-left: 30px;
    margin-bottom: 15px;
    font-size: 1em;
    min-width: 140px;
    text-align: center;
  }
  
  .btn-ghost.round{
    border-radius: 30px;
  }
  
  .btn-ghost.secundary{
    background-color: transparent;
    color: purple;
  }
  
  .btn-ghost:hover{
    color: purple;
    background-color: transparent;
  }

  .circular{
      height: 30rem !important;
      width: 30rem !important;
      border-radius: 50%;
  }

  .form-control{
    padding: 1rem;
    font-size: 1.6rem;
 }

 form{
     max-width: 50rem;
     position: relative;
     border-radius: 10%;
     width: 90%;
 }

 #btnEnviar{
     padding: 0.5rem 1rem;
     position: absolute;
     left: 25%;
    
 }


 @media (max-width: 1200px){
    #btnEnviar{
        transform: translateX(-17%);
       
    }
}

@media (max-width: 375px){
    #btnEnviar{
        transform: translateX(-25%);
       
    }
}

.p-nosotr{
    padding-top: 7rem;
    padding-bottom: 7rem;
}
.p-serv{
    padding-top: 7rem;
}
.p-manual{
    padding-top: 7rem;
}
.p-contacto{
    padding-top: 9rem ;
    padding-bottom: 10rem;
}

@media (max-width: 767.5px){
    .p-contacto{
        padding-bottom: 5rem;
    }
}
/* .p-especialB{
    padding-bottom: 7rem;
} */

/* .owl-prev{
    left: 0px;
}

.owl-next{
    right: 0px;
}

.owl-prev,
.owl-next{
    position: absolute;
    top: 50px;
    z-index: 5;
}

.owl-prev span,
.owl-next span{
    font-size: 80px;
    color: black;
}

.owl-theme , .owl-nav:hover{
    background: transparent;
} */
/*
.hero{
    background-image: url(../multimedia/video.mp4);
    height: 25rem;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}


@media (min-width: 768px){
    .hero{
        height: 55rem;
    }
}

@media(min-width: 768px){
    .producto img{
        height: 45rem;
        width: 100%;
        object-fit: cover;
    }
}




.categoria img{
    transition-property: transform;
    transition-duration: 300ms;
}

.categoria img:hover{
    transform: scale(1.2);
}

.galeria li:not(:last-of-type){
    margin-bottom: 1rem;
}


} */

