

html{
    font-size: 62.5%;   /* 1rem en 10 px */
}

body{
    /* font-family: 'Raleway', sans-serif; */
    font-size: 1.6rem;
    line-height: 2;
}

.bi{
    font-size: 3.5rem;
}

img{
    object-fit: cover;
}

/* h1, h2, h3{
    font-family: 'Playfair Display', serif;
}

h1{
    font-size: 10rem;
} */

/* @media(min-width: 768px){
    h1{
        font-size: 5rem;
    }
} */

h2{
    font-size: 3.2rem;
}

@media(min-width: 768px){
    h2{
        font-size: 4rem;
    }
}

/* h3{
    font-size: 2.4rem;
}

@media(min-width: 768px){
    h3{
        font-size: 3rem;
    }
} */



.nav-statico{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

.nav-imagen{
    width: 40%;
    padding: 0;
}

@media(max-width: 991.5px){
    .nav-imagen{
        display: none;
    }
}

.nav-links{
    width: 60%;
}

@media(max-width: 991.5px){
    .nav-links{
        width: 100%;
    }
}

.img-nav-main{
    height: 8rem;
}

/* Video */
.contenedor-principal-video{
    position: relative;
    height: 50rem;
    margin-top: 10rem;
}

.cabecera{
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.contenido{
    max-width: 100%;
    padding-left: 10rem;
    padding-right: 10rem;
    margin: auto;
    text-align: center;
}


.cabecera-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50rem;
    overflow: hidden;
}

.cabecera-video video{
    min-width: 100%;
    /* min-height: 50%; */
}

.cabecera-overlay{
    height: 50rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #303952;
    z-index: 1;
    opacity: .50;
}

.cabecera-content{
    width: 100%;
    z-index: 2;
}

.cabecera-content h1 {
    font-size: 6.5rem;
}

@media (max-width: 576px){
    .contenido{
        padding-left: 0;
        padding-right: 0;
    }
    
    .cabecera-content h1 {
        font-size: 3rem;
    }
}

@media (min-width: 576px){
    .contenido{
        max-width: 100%;
        padding-left: 5rem;
        padding-right: 5rem;
        margin: auto;
        text-align: center;
    }
    
    .cabecera-content h1 {
        font-size: 4.5rem;
    }
}

@media (min-width: 992px){
    .contenido{
        max-width: 100%;
        padding-left: 10rem;
        padding-right: 10rem;
        margin: auto;
        text-align: center;
    }
    
    .cabecera-content h1 {
        font-size: 6.5rem;
    }
}

/*FIN VIDEO*/
  
/*
.hero{
    background-image: url(../multimedia/video.mp4);
    height: 25rem;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}


@media (min-width: 768px){
    .hero{
        height: 55rem;
    }
}

@media(min-width: 768px){
    .producto img{
        height: 45rem;
        width: 100%;
        object-fit: cover;
    }
}




.categoria img{
    transition-property: transform;
    transition-duration: 300ms;
}

.categoria img:hover{
    transform: scale(1.2);
}

.galeria li:not(:last-of-type){
    margin-bottom: 1rem;
}

.form-control{
    padding: 1rem;
    font-size: 1.6rem;
} */

