
html{
    font-size: 62.5%;   /* 1rem en 10 px */
    scroll-behavior: smooth;
}

body{
    font-family: 'Lato';
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 2;
}


/* Utilidades para tipografia */
.nav-links a{
    font-family: 'Amatic SC', cursive;
    font-size: 2.5rem;
}

@media (min-width: 768px){
    .nav-links a{
        font-size: 4rem;
    }  
}

h2{
    font-family: 'Amatic SC', cursive;
    font-size: 5.5rem;
}

@media (min-width: 768px){
    h2{
        font-size: 8rem;
    }  
}

h3{
    font-family: 'Lato';
    font-weight: 700;
    font-size: 2rem;
}

@media (min-width: 768px){
    h3{
        font-size: 3rem;
    }  
}

.card h3{
    font-size: 1.8rem;
}

.lato-bold{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}


/* Fin tipografía */


.bi{
    font-size: 3.5rem;
}

img{
    object-fit: cover;
}



.hero{
    background-image: url(../multimedia/bg.jpg);
    /* height: 25rem; */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.fondo-morado{
    background-color: #D3C4DD;
}

.nav-statico{
    position: sticky;
    left: 0;
    top: 0;
    right: 0;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px */
}

.nav-imagen{
    width: 30%;
    padding: 0;
}

@media(max-width: 991.5px){
    .nav-imagen{
        display: none;
    }
}

.nav-links{
    width: 70%;
    position: relative;
}


.activo{
    /* background-color: white;
    color: red !important;
    border-radius: 3px;
    opacity: .5; */
    background-color: #f0f0f0;
    opacity: .5;
    color: black !important;
    border-radius: 3px;
}

.nav-links a{
    transition: .3s ease-in-out all;
    width: 20%;
    color: #f0f0f0;
    transition: .3s ease-in-out all;
}

.nav-links a:hover{
    /* text-shadow: 0 0 2rem white;
    text-decoration: underline; */
    background-color: white;
    color: black;
    border-radius: 3px;
    opacity: .5;
}


.img-nav-main{
    height: 8rem;
    position: relative;
}



.indicador{
    display: block;
    width: 200px;
    height: 7px;
    background-color: white;
    position: absolute;
    bottom: -8px;
    transition: .3s ease-out all;
    border-radius: 2px;
    
}
/* Video */
.contenedor-principal-video{
    position: relative;
    height: calc(100vh - 8rem);
    margin-top: 0;
}

.cabecera{
    height: calc(100vh - 8rem);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.contenido{
    max-width: 100%;
    padding-left: 10rem;
    padding-right: 10rem;
    margin: auto;
    text-align: center;
}


.cabecera-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 8rem);
    overflow: hidden;
}

.cabecera-video video{
    min-width: 100%;
    /* min-height: 50%; */
}

.cabecera-overlay{
    height: calc(100vh - 8rem);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #303952;
    z-index: 1;
    opacity: .50;
}

.cabecera-content{
    width: 100%;
    z-index: 2;
}

.cabecera-content h1 {
    font-family: 'Lato';
    font-weight: 700;
}

@media (max-width: 576px){
    .contenido{
        padding-left: 0;
        padding-right: 0;
    }
    
    .cabecera-content h1 {
        font-size: 3rem;
    }
}

@media (min-width: 576px){
    .contenido{
        max-width: 100%;
        padding-left: 5rem;
        padding-right: 5rem;
        margin: auto;
        text-align: center;
    }
    
    .cabecera-content h1 {
        font-size: 5.5rem;
    }
}

@media (min-width: 992px){
    .contenido{
        max-width: 100%;
        padding-left: 10rem;
        padding-right: 10rem;
        margin: auto;
        text-align: center;
    }
    
    .cabecera-content h1 {
        font-size: 8rem;
    }
}

/*FIN VIDEO*/

.nosotros{
    /* height: 10rem !important: */
    border-radius: 1rem !important;
}
.ivonne{
    height: 40rem;
    width: 40rem;
    border-radius: 50%;
}


.item img{
    height: 28rem;

    object-fit: cover;
}


.card p, .card ul li, #medios-contacto span, #medios-contacto a{
    font-size: 1.6rem;
}

#sec-servicios .card{
    line-height: 1.5;
    height: 46rem;
}
#sec-integrales .card{
    line-height: 1.5;
    height: 53rem;
}


/* styles owl carousel*/


.owl-theme .owl-dots .owl-dot span {
    border-radius: 25px;
    height: 7px;
    width: 25px;
    background-color: #9B84AB;
    opacity: 0.5;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #9B84AB;
    opacity: 1;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
    background: transparent;
    color: #9B84AB;
    opacity: 0.5;
    border: none;
    font-size: 10rem;
    position: absolute;
    z-index: 10;
    
}

.owl-carousel .owl-nav button.owl-next{
    top: 50%;
    transform: translateY(-70%);
    right: 0rem;
}

.owl-carousel .owl-nav button.owl-prev {
    top: 50%;
    transform: translateY(-70%);
    left: 0rem;
}



.owl-carousel .owl-nav button.owl-next:hover, .owl-carousel .owl-nav button.owl-prev:hover {
    background: transparent;
    color: #9B84AB;
    opacity: 1;
}

/*Owl carousel fin*/


.btn-ghost{
    position: relativate;
    border: 2px solid #9B84AB;
    padding: 20px 80px;
    color: white;
    text-decoration: none;
    background: #9B84AB;
    transition: color 0.5s, background 0.5s;

    font-size: 1em;
    min-width: 140px;
    text-align: center;
  }
  
  .btn-ghost.round{
    border-radius: 50px;
  }
  
  .btn-ghost:hover{
    color: purple;
    background-color: #EEE4F5;
  }

  .circular{
      height: 30rem !important;
      width: 30rem !important;
      border-radius: 50%;
  }

  .form-control{
    padding: 1rem;
    font-size: 1.6rem;
 }

 form{
     max-width: 50rem;
     position: relative;
     border-radius: 10%;
     width: 100%;
     background-color: #F2F4FF !important;
 }

 input[type="tel"], input[type="email"], input[type="text"], textarea {
    background-color: #F2F4FF !important;
    border: 1px solid #9B84AB !important;
    border-radius: 1rem !important;
 }

 #toast div{
    background-color: #F2F4FF !important;
 }


 #btnEnviar{
     padding: 0.5rem 1rem;
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
 }


.falsa-ancla{
    height: 10rem;
    background-color: transparent;
}

.last{
    height: 10rem;
    background-color: transparent;
}

@media (max-width: 767.5px){
    .last{
        height: 1rem;
    }
}

